<?xml version="1.0"?>
<!--
/**
* @license Copyright 2016-2018 CryptoMarket Inc., MIT License
* @see https://github.com/cryptomarket/magento-plugin/blob/master/LICENSE
*/
-->
<config>
	<modules>
		<Cryptomarket_Core>
			<version>0.1.0</version>
		</Cryptomarket_Core>
	</modules>
	<global>
		<blocks>
			<cryptomarket>
				<class>Cryptomarket_Core_Block</class>
			</cryptomarket>
		</blocks>
		<helpers>
			<cryptomarket>
				<class>Cryptomarket_Core_Helper</class>
			</cryptomarket>
		</helpers>
		<models>
			<cryptomarket>
				<class>Cryptomarket_Core_Model</class>
				<resourceModel>cryptomarket_mysql4</resourceModel>
			</cryptomarket>
			<cryptomarket_mysql4>
				<class>Cryptomarket_Core_Model_Mysql4</class>
				<entities>
					<invoice>
						<table>cryptomarket_invoices</table>
					</invoice>
					<ipn>
						<table>criptomarket_ipns</table>
					</ipn>
				</entities>
			</cryptomarket_mysql4>
			<sales>
				<rewrite>
					<order_payment>Cryptomarket_Core_Model_Order_Payment</order_payment>
				</rewrite>
			</sales>
		</models>
		<events>
			<sales_order_place_before>
				<observers>
					<auto_invoice_order>
						<type>singleton</type>
						<class>Cryptomarket_Core_Model_Observer</class>
						<method>implementOrderStatus</method>
					</auto_invoice_order>
				</observers>
			</sales_order_place_before>
			<sales_order_save_after>
				<observers>
					<cryptomarket_core_model_observer>
						<type>singleton</type>
						<class>Cryptomarket_Core_Model_Observer</class>
						<method>createPayOrder</method>
					</cryptomarket_core_model_observer>
				</observers>
			</sales_order_save_after>
		</events>
	</global>
	<frontend>
		<routers>
			<cryptomarket>
				<use>standard</use>
				<args>
					<module>Cryptomarket_Core</module>
					<frontName>cryptomarket</frontName>
				</args>
			</cryptomarket>
		</routers>
		<layout>
			<updates>
				<cryptomarket>
					<file>cryptomarket.xml</file>
				</cryptomarket>
			</updates>
		</layout>
		<translate>
			<modules>
				<cryptomarket>
					<files>
						<default>Cryptomarket_Core.csv</default>
					</files>
				</cryptomarket>
			</modules>
		</translate>
	</frontend>
	<default>
		<payment>
			<cryptomarket>
				<active>1</active>
				<model>cryptomarket/method_redirect</model>
				<order_status>new</order_status>
				<title>Pay with CryptoCompra by CryptoMarket</title>
				<payment_receiver>user@domain.com</payment_receiver>
				<redirect_url>checkout/onepage/success</redirect_url>
				<failure_url>checkout/cart</failure_url>
				<debug>0</debug>
				<sort_order>1</sort_order>
			</cryptomarket>
		</payment>
	</default>
</config>
